# Directories
.vs/
bin/
bin-int/
ASSInterface/vendor/boost/
ASSInterface/vendor/GStreamer/
ASSInterface/vendor/opencv/
ASSInterface/vendor/cpprestsdk/
ASSInterface/vendor/mongo-c-driver/
ASSInterface/vendor/mongo-cxx-driver/
ASSInterface/vendor/nlohmann_json/
ASSInterface/vendor/Rx/
ASSInterface/vendor/TBB/
ASSInterface/vendor/CUDA/
ASSInterface/vendor/Innovatrics/
# Files
*.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user